---
import '../../styles/photo/about.css';
import Header from "../../components/photo/header.astro";
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Mateo Cervantes</title>
        <link rel="icon" href="/favicon.svg" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>

<Header/>

<body>
        
    <div class="about-container">
        <div class="about-text">
            <header>About Me</header>
            <p> 
            Hi, I'm Mateo! I'm a junior at Utah State University in Logan, Utah, where I work as a student photographer. Originally from Corvallis, Oregon, I grew up loving hiking, snowboarding, and basically everything outdoors. 
            I've loved taking pictures since my first camera on my iPod touch in 2013, but I really started photography seriously my first year of high school. 
            </p>
            <p>
            Since then, I've taken every opportunity to bring my camera everywhere. It's been an amazing journey and I am so grateful for my ability to capture so many amazing places and beautiful people in this world. 
            </p>
            <p>
            Please reach out - I would love to make pictures for you!
            </p>
            <p>
            - Mateo
            </p>
        </div>
        <div class="about-image">
            <img src="/photo/about me.jpeg" alt="photo">
        </div>
    </div>

</body>
