---
import '../../styles/photo/global.css';
import Header from "../../components/photo/header.astro";
import ContactForm from "../../components/photo/form.astro";
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Mateo Cervantes</title>
        <link rel="icon" href="/favicon.svg" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>

    <Header/>

    <body>

        <header>Let's Get in Touch!</header>

        <ContactForm/>

    </body>