---
import '../../styles/photo/global.css';
import Header from "../../components/photo/header.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Mateo Cervantes</title>
    <link rel="icon" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>

  <Header/>
  
  <body>


    <main>

      <header>Hi, I'm Mateo!</header>

      <p>
        I'm a student and photographer in Logan, Utah and Corvallis, Oregon!
      </p>

      <div class="card-grid">
        <a href="/photo/people" class="card" style="background-image: url('/src/assets/photo/people/people_13.jpg')">
            <h2 class="card-title">People</h2>
        </a>
        <a href="/photo/places" class="card" style="background-image: url('/src/assets/photo/places/P1028009-HDR.jpg')">
            <h2 class="card-title">Places</h2>
        </a>
        <a href="/photo/events" class="card" style="background-image: url('/src/assets/photo/events/240412_LO_USUSA_End_of_Year_Bash_P52A7773-Edit.jpg')">
            <h2 class="card-title">Events</h2>
        </a>
        <a href="/photo/sports" class="card" style="background-image: url('/src/assets/photo/sports/P52A1996.jpg')">
            <h2 class="card-title">Sports</h2>
        </a>
      </div>
      
    </main>
    </div>
  </body>
</html>