---
import '../../styles/photo/pricing.css';
import Header from "../../components/photo/header.astro";
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Mateo Cervantes</title>
        <link rel="icon" href="/favicon.svg" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>

    <Header/>

<body>
        
    <div class="pricing-container">
        <div>
            <header>Pricing</header>
                <section class="pricing-section">
                    <div class="pricing-cards">
                        <div class="pricing-card">
                            <h2>1 Hour Session</h2>
                            <p>50+ pictures, professionally edited</p>
                            <p>1 location</p>
                            <p>High resolution downloads</p>
                            <p>2 week turnaround</p>
                            <p class="pricing-price">$175</p>
                        </div>

                        <div class="pricing-card">
                            <h2>2 Hour Session</h2>
                            <p>100+ pictures, professionally edited</p>
                            <p>1–2 locations</p>
                            <p>High resolution downloads</p>
                            <p>2 week turnaround</p>
                            <p class="pricing-price">$275</p>
                        </div>
                    </div>

                    <a href="#contact" class="book-btn">BOOK NOW</a>
                </section>

            </div>
        </div>
    </div>

</body>