---
import '../styles/index.css';
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Mateo Cervantes</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <main class="landing">
      <img src="/logo_black.svg" alt="Logo" class="logo" />
      <h1 class="name">Mateo Cervantes</h1>
      <div class="links">
        <a href="/photo">photo</a>
        <a href="/design">design</a>
      </div>
    </main>
  </body>
</html>
