body {
    margin: 0;
    font-size: 1.2rem;
    font-family: 'Chivo Mono', monospace;
    color: #1b1d35;
}

header {
    font-family: 'Chivo Mono', monospace;
    display: flex;
    justify-content: flex-start;
    font-weight: 600;
    font-size: 3rem;
    color: #1b1d35;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    margin: 2.5rem;
    justify-content: space-between;
}

.about-text {
    flex: 2;
    margin-right: 2rem;
    max-width: 596px;
}

.about-image {
    flex: 1;
    aspect-ratio: 3/4;
    max-width: 296px;
}

.about-image img {
    width: 100%;
    height: auto;
}

/* responsive stacking */
@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
    }
    .about-text, .about-image {
        flex: 1 1 100%; /* full width each */
    }
}