body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    background: #fafafa;
}

.header a {
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}

.center-y {
    display: flex;
    justify-content: center;
}


/* Card grid container */
.card-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 1fr));
    gap: 1rem;
    padding: 1rem;

    /* keeps it from becoming massive on ultra-wide monitors */
    max-width: 4000px;
    margin: 0 auto;
}

/* Responsive: 1 column on screens ≤ 1000px */
@media (max-width: 1000px) {
    .card-grid {
        grid-template-columns: 1fr; /* single column */
    }
}

.card {
    aspect-ratio: 4 / 3;
    flex: 1 1 auto;
    box-sizing: border-box;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.3s ease;
}

.card-title {
    width: 600%;
    position: absolute;
    display: flex;
    justify-content: center;
    font-family: 'Chivo Mono', monospace;
    font-weight: 500;
    color: rgb(255, 255, 255);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.card::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(0px);
    transition: all 0.3s ease;
    z-index: 0;
}

.card:hover::before {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    box-shadow: 1 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8x);
}

.card:hover .card-title {
    opacity: 1;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.image-grid img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}
